In [4]:
import pandas as pd
import numpy as np

from scipy import stats
import math

In [5]:
df = pd.read_excel(r"C:\Users\ASUS\Desktop\PYTHON\Assignment decision making\property.xlsx")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,2016-03-12 00:00:00,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,2016-04-02 00:00:00,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,2017-04-03 00:00:00,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,2017-04-03 00:00:00,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,2016-04-06 00:00:00,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26/08/2017,16.7,3150,...,2,2.0,652,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392
13576,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26/08/2017,6.8,3016,...,2,2.0,333,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380
13577,Williamstown,83 Power St,3,h,1170000,S,Raine,26/08/2017,6.8,3016,...,2,4.0,436,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380
13578,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26/08/2017,6.8,3016,...,1,5.0,866,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380
13579,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26/08/2017,6.3,3013,...,1,1.0,362,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  int64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom2       13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  int64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
dtypes: float64(6), int64(7), object(8)
memory usage: 2.2+ MB

In [7]:
df.shape

(13580, 21)

In [8]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

# Question 1:

In [9]:
# 1. For the suburb Altona, it is postulated that a typical property sells for $800,000.
#Use the data at hand to test this assumption. Is the typical property price really $800,000 or has it increased? 
#Use a significance level of 5%.

In [10]:
sub_Altona = df[df['Suburb'] == 'Altona']
sub_Altona

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
141,Altona,158 Queen St,3,h,520000,VB,Greg,2016-03-09 00:00:00,13.8,3018,...,2,1.0,352,242.0,2015.0,Hobsons Bay,-37.87000,144.82500,Western Metropolitan,5301
142,Altona,59 Bracken Gr,5,h,1525000,S,Greg,2016-03-12 00:00:00,13.8,3018,...,3,3.0,729,268.0,2005.0,Hobsons Bay,-37.87210,144.81050,Western Metropolitan,5301
143,Altona,1/123 Blyth St,2,t,720000,S,hockingstuart,2016-04-02 00:00:00,13.8,3018,...,1,2.0,292,125.0,2013.0,Hobsons Bay,-37.86870,144.81970,Western Metropolitan,5301
144,Altona,4 Blyth St,3,h,1120000,S,Barlow,2017-04-03 00:00:00,13.8,3018,...,1,2.0,506,120.0,1930.0,Hobsons Bay,-37.86930,144.83750,Western Metropolitan,5301
145,Altona,20 Linnet St,4,h,780000,PI,Sweeney,2016-04-06 00:00:00,13.8,3018,...,1,4.0,655,NaN,NaN,Hobsons Bay,-37.86800,144.81540,Western Metropolitan,5301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12216,Altona,86 Grieve Pde,3,h,913000,S,Greg,2017-03-09 00:00:00,11.0,3018,...,2,3.0,530,148.0,1985.0,NaN,-37.86140,144.81931,Western Metropolitan,5301
12432,Altona,7/35 Grieve Pde,2,u,458000,SP,hockingstuart,2017-09-09 00:00:00,11.0,3018,...,1,1.0,63,75.0,1975.0,NaN,-37.86933,144.81704,Western Metropolitan,5301
12634,Altona,6 Myrtle Gr,3,h,1248500,S,RT,16/09/2017,11.0,3018,...,1,3.0,710,NaN,NaN,NaN,-37.87182,144.81600,Western Metropolitan,5301
13338,Altona,20 Burt St,3,h,920000,VB,PRD,26/08/2017,11.0,3018,...,2,2.0,584,NaN,NaN,NaN,-37.86249,144.82162,Western Metropolitan,5301
13339,Altona,1/76 Queen St,2,u,801250,S,Sweeney,26/08/2017,11.0,3018,...,1,1.0,245,NaN,NaN,NaN,-37.87046,144.83482,Western Metropolitan,5301

In [11]:
mean_price_altona = sub_Altona['Price'].mean()
mean_price_altona

834830.4054054054

In [12]:
# Ho = There is no difference between property price for properties in Altona and $800,000. Ho =800000
# Ha = There is a difference between property price for properties in Altona. 

null_hypo_value = 800000 

t_stat, p_value = stats.ttest_1samp(sub_Altona['Price'], null_hypo_value)

print("T-Statistic:", t_stat)
print("P-value:", p_value)

if p_value < 0.05:
    print("Property price is not different from $800,000.")
else:
    print("Property price has increased from $800,000.")      

# Since P-value is 30% so we fail to reject the null hypothesis.

T-Statistic: 1.0277020770199676
P-value: 0.307483271305555
Property price has increased from $800,000.

# Question 2:

In [13]:
# For the year 2016, is there any difference in prices of properties sold in the summer months vs winter months? 
#Consider months from October till March as winter months and rest as summer months. 
#Use a significance level of 5%.

In [14]:
df['Date'] = pd.to_datetime(df['Date'])
property_2016 = df[df['Date'].dt.year == 2016]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7424\2569012210.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])

In [15]:
summer = (property_2016['Date'].dt.month >= 4) & (property_2016['Date'].dt.month <= 9)
winter = ~summer

In [16]:
# Segregating properties for Summer & winter

summer_properties = property_2016[summer]
winter_properties = property_2016[winter]

In [17]:
#Ho = Average property price in summer is equal to the average property price in winter.
# Ha = There is a significant difference in property prices between summer and winter months.

t_statistic, p_value = stats.ttest_ind(summer_properties['Price'], winter_properties['Price'])
print("T-Statistic:", t_statistic)
print("P-value:", p_value)

if p_value < 0.05:
    print("There is a significant difference in property prices between summer and winter months.")
else:
    print("There is no significant difference in property prices between summer and winter months.")
    
# since p-value near to Zero,so we fail to reject the null hypothesis.

T-Statistic: -7.343623335051583
P-value: 2.34005572575949e-13
There is a significant difference in property prices between summer and winter months.

# Question 3:

In [18]:
#For the suburb of Abbotsford, what is the probability that out of 10 properties sold, 3 will not have car parking? 
#Use the column car in the dataset. Round off your answer to 3 decimal places.

In [19]:
# Property Filter
abbotsford_property = df[df['Suburb'] == 'Abbotsford']

In [20]:
total_properties = len(abbotsford_property)
properties_without_parking = len(abbotsford_property[abbotsford_property['Car'] == 0])
proportion_without_parking = properties_without_parking / total_properties
proportion_without_parking

0.26785714285714285

In [21]:
from scipy.stats import binom

In [22]:
n = 10  # Total number of properties
k = 3   # Number of properties without car parking
p = proportion_without_parking
probability_3_out_of_10 = binom.pmf(k, n, p)*100
rounded_percent = round(probability_3_out_of_10, 3)
print("Probability of exactly 3 out of 10 properties not having car parking:", rounded_percent)

Probability of exactly 3 out of 10 properties not having car parking: 26.005

# Question 4 :

In [23]:
 #In the suburb Abbotsford, what are the chances of finding a property with 3 rooms? Round your answer to 3 decimal places.

In [24]:
# Property Filter
abbotsford_property = df[df['Suburb'] == 'Abbotsford']

In [25]:
total_properties = len(abbotsford_property)
properties_with_3_rooms = len(abbotsford_property[abbotsford_property['Rooms'] == 3])
proportion_with_3_rooms = properties_with_3_rooms / total_properties
proportion_with_3_rooms

0.35714285714285715

In [26]:
probability_3_rooms = (proportion_with_3_rooms)*100

rounded_percent = round(probability_3_rooms, 3)
print("Probability of finding a property with 3 rooms in Abbotsford:", rounded_percent)

Probability of finding a property with 3 rooms in Abbotsford: 35.714

# Question 5:

In [27]:
#Calculate the probability of finding a property with 2 bathrooms in Abbotsford

In [28]:
# Property Filter
abbotsford_property = df[df['Suburb'] == 'Abbotsford']

In [29]:
total_properties = len(abbotsford_property)
properties_with_2_bathrooms = len(abbotsford_property[abbotsford_property['Bathroom'] == 2])
proportion_with_2_bathrooms = properties_with_2_bathrooms / total_properties
proportion_with_2_bathrooms

0.3392857142857143

In [30]:
probability_2_bathrooms = (proportion_with_2_bathrooms)*100
rounded_percent = round(probability_2_bathrooms, 3)
print("Probability of finding a property with 2 bathrooms in Abbotsford:", rounded_percent)

Probability of finding a property with 2 bathrooms in Abbotsford: 33.929